<h1>Editing user address</h1>

<%= render "form", user_address: @user_address %>

<br>

<div>
  <%= link_to "Show this user address", @user_address %> |
  <%= link_to "Back to user addresses", user_addresses_path %>
</div>
