<div>
<%=link_to 'Créer un produit', new_admin_product_path%>
<p> index de product du pannel admin</p>

<% @products.each do |product|%>
    <p>Utilisateur numéro <%=product.id%><p>
    <p><%=product.name%></p>
    <%=link_to 'Plus de détails', admin_product_path(product.id)%>
<%end%> 
</div>