<div>
<p> show de product du pannel admin</p>

<p>Nom du produit : <%= @products.name  %></p>
<p>Descritpion du produit : <%= @products.description  %></p>
<p>Prix du produit : <%= @products.price  %></p>
<p>Stock du produit : <%= @products.unity  %></p>
</div>