<!DOCTYPE html>
<html>
  <head>
    <title>CatShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="button.css">
  </head>

  <body>
    <button class="button btn-primary" role="button">Button primary</button>
    <button class="button btn-secondary" role="button">Button secondary</button>
    <button class="button btn-light" role="button">Button light</button>


    <button class="button btn-outline" role="button">Button outline</button>
    <button class="button btn-outline-light" role="button">Button outline light</button>


    <button class="button btn-primary btn-lg" role="button">Large button</button>
    <button class="button btn-primary btn-sm" role="button">Small button</button>

  

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Default checkbox
      </label>
    </div>

  </body>
</html>


