<!DOCTYPE html>
<html>
  <head>
    <title>CatShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="application.css">
  </head>

  <body>
    <p class="text_jumbotron">Créer un compte en 2 min et accéder à nos différents produits</p>

    <div id="contour">
      <div id="card-header">
        <ul>
          <li class="nav-item" id="Connexion">
            <a class="nav-link active" href="#">Connexion</a>
          </li>
          <li class="nav-item" id="Create_account">
            <a class="nav-link" href="#">Créer un compte</a>
          </li>
        </ul>
      </div>
      <div id="card-body">
        <ul>
          <label for="email" id="mail">Email</label> 
          <input name="email" type="text disabled" value="jean@dupont.fr" class="email_input"/><br /> 
          <label for="password" id="password">Mot de passe</label> 
          <input name="password" type="password" value="Email*" class="psswrd_input" /><br /> 
          
          <div id="button-connexion">
            <button class="button btn-primary" role="button">
              <span>Connexion</span>
            </button>
          </div> 
        
        </ul>
      </div>
    </div>

    <div class="col">
      <div class="card" style="width: 21.5rem;">
        
        <div class="card-body">
          <h4 class="card-title"></h4>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <div class="card-body">
          <a href="#" class="card-link">
            <button class="button btn-outline btn-sm" role="button">Disponible</button>
          </a>
          <a href="#" class="card-link">
            <span class="material-symbols-outlined">add_shopping_cart</span>
          </a>
        </div>
      </div>
    </div>

  </body>

</html>