<!DOCTYPE html>
<html>
  <head>
    <title>CatShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <!--navbar-->
      <div class="navbar navbar-default navbar-fixed-top">
        
      </div>
    </header>


  </body>
</html>





Les couleurs
La typographie
Les boutons
L'iconographie
Des inputs de formulaires
Des cartes
Des listes