<div class="payment-success">
  <h1>Erreur de paiement</h1>
  <p>Le paiement n'a pas été effectué.</p>
  <p>Nous vous invitons à réessayer ultérieurement.</p>

  <%= link_to "Revenir à l'accueil", root_path, class: "btn btn-secondary" %>
</div>