<div class="payment-success">
  <h1>Confirmation de paiement</h1>
  <p>Nous avons bien reçu votre paiement de <%= number_to_currency(@payment_intent.amount_received / 100.0, unit: "€", separator: ",", delimiter: "", format: "%n %u") %>.</p>
  
  <%= link_to "Revenir à l'accueil", root_path, class: "btn btn-secondary" %>
</div>