<%= form_with(model: user_adress) do |form| %>
  <% if user_adress.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_adress.errors.count, "error") %> prohibited this user_adress from being saved:</h2>

      <ul>
        <% user_adress.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
