<p style="color: green"><%= notice %></p>

<h1>User adresses</h1>

<div id="user_adresses">
  <% @user_adresses.each do |user_adress| %>
    <%= render user_adress %>
    <p>
      <%= link_to "Show this user adress", user_adress %>
    </p>
  <% end %>
</div>

<%= link_to "New user adress", new_user_adress_path %>
