/************************/
/*        GENERAL       */
/************************/
/* .product_main{
	display: flex;
	flex-flow: wrap;
} */

/************************/
/*        INDEX         */
/************************/
.prod_head{
  margin-bottom: 50px;
}

.prod_head h1{
  color: var(--secondary);
} 

.prod_head h1:hover{
  font-size: 3.5rem;
  margin-bottom: 0;
  text-shadow: 1px 3px 0 #0D0D0D, 1px 13px 5px #040404;
  /* text-shadow: 0 0 2px var(--secondary); */
}

.product_link:active{
	color: #fff;
}

.product_link:active{
	color: #fff;
}

.product_link:hover{
	color: var(--secondary);
}

/************************/
/*        SHOW          */
/************************/

.product_page{
  border-radius: 0 0 13px 13px;
  margin-bottom: 5em;
  padding-left: 5em;
  padding-right: 5em;
}

.product_page h2,h4,h5{
	color: var(--primary);
}

.product_page h3{
	color: var(--secondary);
}

.prod_container{
  margin: 0px;
}

.img-fluid{
  border-radius: 0 0 0 13px;
  display: flex;
	flex-wrap: wrap;
}

.product_detail{
  border-radius: 0 0 13px 0;
	display: flex;
	align-items: center;
  margin-bottom: 0px;
  width: max-content;
  background-color: #fff;
  padding-left: 2em;
  padding-right: 2em;
}

.prod_d_body{
  width: 100%;
  padding-left: 5em;
  padding-right: 5em;
}

.available p{
  color: var(--success);
  font-style: italic;
}

.non-available p{
  color: var(--danger);
  font-style: italic;
}

.product_text{
	text-align: left;
	margin: 0.3em;
}

.btn_poids{
  background-color: aqua;
  margin-left:1em;
}

.product_text .product_button {
	text-align: center;
}

.product_description{
	border-radius: 13px;
	height: 100%;
	display: flex;
	align-items: center;
  padding-left: 6em;
  padding-right: 6em;
  margin-bottom: 5em;
}

.prod_description{
  border-radius: 13px;
	background-color: #fff;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.product_description h3,p{
	color: var(--primary);
}

.buy_now_btn:hover{
  color: #fff;
}

.add_card_btn{
	color: #fff;
}

.add_card_btn:hover{
	color: var(--secondary);
}


.quote span{
    color:black;
}

/* Truffe detail */

.truffle-detail{
  width: 3%;
  height: 3%;
}

.text{
  padding: 2%;
}
.title-text{
  padding-left: 1% ;
}
