<div class="container livraison">
<br>
<h1>Livraison et retour</h1>
 <br>
<h3>Disponibilité des produits - Remboursement - Résolution</h3><br>

<p>Sauf en cas de force majeure ou lors des périodes de fermeture de la boutique en ligne clairement annoncées sur la page d'accueil du site, les délais d'expédition seront, dans la limite des stocks disponibles, ceux indiqués ci-dessous. Les délais d'expédition courent à compter de la date d'enregistrement de la commande indiquée sur le mail de confirmation de la commande.<br>
<ul>
  <li>Pour les livraisons en France Métropolitaine et en Corse, le délai est de "2 jours" à compter du jour suivant celui où l'acheteur a passé sa commande, selon les modalités suivantes : "Chronopost ou Chronofresh". Au plus tard, le délai sera de 30 jours ouvrables après la conclusion du contrat.</li>
  <li>Pour les livraisons dans les DOM-TOM ou un autre pays, les modalités de livraison seront précisées à l’acheteur au cas par cas.</li>
</ul>
<br>
En cas de non-respect de la date ou du délai de livraison convenu, l'acheteur devra, avant de rompre le contrat, enjoindre au vendeur d'exécuter celui-ci dans un délai supplémentaire raisonnable.
À défaut d'exécution à l'expiration de ce nouveau délai, l'acheteur pourra librement rompre le contrat.
<br>
L'acheteur devra accomplir ces formalités successives par lettre recommandée avec accusé de réception ou par un écrit sur un autre support durable.
Le contrat sera considéré comme résolu à la réception par le vendeur de la lettre ou de l'écrit l'informant de cette résolution, sauf si le professionnel s'est exécuté entre-temps.
<br>
L'acheteur pourra cependant résoudre immédiatement le contrat, si les dates ou délais vu ci-dessus constituent pour lui une condition essentielle du contrat.
Dans ce cas, lorsque le contrat est résolu, le vendeur est tenu de rembourser l'acheteur de la totalité des sommes versées, au plus tard dans les 14 jours suivant la date à laquelle le contrat a été dénoncé.<br>
<br>
En cas d'indisponibilité du produit commandé, l'acheteur en sera informé au plus tôt et aura la possibilité d'annuler sa commande. L'acheteur aura alors le choix de demander soit le remboursement des sommes versées dans les 14 jours au plus tard de leur versement, soit l'échange du produit.</p>
<br>
</div>