<h1>Paiement</h1>
<br>
<h3>Prix</h3>
<br>
<p>Le vendeur se réserve le droit de modifier ses prix à tout moment mais s'engage à appliquer les tarifs en vigueur indiqués au moment de la commande, sous réserve de disponibilité à cette date.<br>
Les prix sont indiqués en euros. Ils ne tiennent pas compte des frais de livraison, facturés en supplément, et indiqués avant la validation de la commande. Les prix tiennent compte de la TVA applicable au jour de la commande et tout changement du taux applicable TVA sera automatiquement répercuté sur le prix des produits de la boutique en ligne. <br>
Si une ou plusieurs taxes ou contributions, notamment environnementales, venaient à être créées ou modifiées, en hausse comme en baisse, ce changement pourra être répercuté sur le prix de vente des produits.<br>
 <br>
Mode de paiement<br>
 <br>
Il s'agit d'une commande avec obligation de paiement, ce qui signifie que la passation de la commande implique un règlement de l'acheteur.<br>
Pour régler sa commande, l'acheteur dispose, à son choix, de l'ensemble des modes de paiement mis à sa disposition par le vendeur et listés sur le site du vendeur. L'acheteur garantit au vendeur qu'il dispose des autorisations éventuellement nécessaires pour utiliser le mode de paiement choisi par lui, lors de la validation du bon de commande. Le vendeur se réserve le droit de suspendre toute gestion de commande et toute livraison en cas de refus d'autorisation de paiement par carte bancaire de la part des organismes officiellement accrédités ou en cas de non-paiement. Le vendeur se réserve notamment le droit de refuser d'effectuer une livraison ou d'honorer une commande émanant d'un acheteur qui n'aurait pas réglé totalement ou partiellement une commande précédente ou avec lequel un litige de paiement serait en cours d'administration. <br>
Le paiement du prix s'effectue en totalité au jour de la commande, selon les modalités suivantes :<br>
- carte bancaire <br>
 <br>
