<div id="<%= dom_id order %>">
  <p>
    <strong>Cart id:</strong>
    <%= order.Cart_ID %>
  </p>

  <p>
    <strong>User id:</strong>
    <%= order.User_ID %>
  </p>

  <p>
    <strong>User adress id:</strong>
    <%= order.User_adress_ID %>
  </p>

</div>
