<div id="<%= dom_id product_category %>">
  <p>
    <strong>Name:</strong>
    <%= product_category.Name %>
  </p>

  <p>
    <strong>Product id:</strong>
    <%= product_category.Product_ID %>
  </p>
</div>