<div id="<%= dom_id discount %>">
  <p>
    <strong>Name:</strong>
    <%= discount.Name %>
  </p>

  <p>
    <strong>Discount percent:</strong>
    <%= discount.Discount_percent %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= discount.Active %>
  </p>

</div>