
.button {
  align-items: center;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.btn-primary{
  color: #ffffff;
  background-color: #0D0D0D;
}

.btn-primary:hover,
.btn-primary:focus { 
  background-color: #5b5b5b;
  color: #ffffff;
}

.btn-primary:active {
  background: #000000;
  color: rgba(255, 255, 255, .7);
}

.btn-primary:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.btn-secondary{
  color: #ffffff;
  background-color: #D9BA5F;
  border-color: var(--btn-border-secondary);
}

.btn-secondary:hover,
.btn-secondary:focus { 
  background-color: #caa534;
  color: #ffffff;
}

.btn-secondary:active {
  background: #caa534;
  color: rgba(255, 255, 255, .7);
}

.btn-secondary:disabled { 
  cursor: not-allowed;
  background: #D9BA5F;
  color: #caa534;
}

.btn-light{
  color: #0D0D0D;
  background-color: #ffffff;
}

.btn-light:hover,
.btn-light:focus { 
  background-color: #ffffffe7;
  color: #0D0D0D;
}

.btn-light:active {
  background: #000000;
  color: rgba(255, 255, 255, .7);
}

.btn-light:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.btn-outline{
  color: #0D0D0D;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-color: #0D0D0D;
}

.btn-outline:hover,
.btn-outline:focus { 
  background-color: #161616;
  color: #ffffff;
}

.btn-outline:active {
  background: #000000;
  color: rgba(255, 255, 255, .7);
}

.btn-outline:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(116, 115, 115, 0.3);
}

.btn-outline-light{
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-color: #ffffff;
}

.btn-outline-light:hover,
.btn-outline-light:focus { 
  background-color: #ffffffe7;
  color: #ffffff;
}

.btn-outline-light:active {
  background: #ffffffe7;
  color: rgba(255, 255, 255, 0.7);
}

.btn-outline-light:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}


.btn-lg{
  padding-left: 4rem;
  padding-right: 4rem;
}

.btn-sm{
  padding: 0,5rem;
  font-size: 12px;
}

/* button incrémentation */
.wrapper{
 max-height: 60px;
 max-width: 95px;
 display: flex;
 align-items: center;
 justify-content: center;
 background: rgb(217, 186, 95);
 border-radius: 12px;
 box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
.wrapper span{
 width: 100%;
 text-align: center;
 font-size: 24px;
 font-weight: 600;
 cursor: pointer;
 user-select: none;
}
.wrapper span.num{
 font-size: 24px;
 /* border-right: 2px solid rgba(0,0,0,0.2);
 border-left: 2px solid rgba(0,0,0,0.2); */
 pointer-events: none;
}
/* end */