/************************/
/*    HOME PAGE CARD    */
/************************/

/* HEADER */
.title-product{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.truffle-symbol{
  font-size: 2em;
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
}

/* .card-products{
  display: flex;
  align-content: space-around;
} */

/* BODY */

.col{
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.card h4{
  color: var(--secondary);
}

.card p{
  color: var(--primary);
}

.card-img{
  border-radius: 5px;
  box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.29);
  max-height: 200px;
}

.cardb-text{
  height: 224px;
}

.cardb-buy{
  height: 5em;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cardb-buy h3{
  color: var(--secondary);
  max-height: 1.5em;
}

/* BUTTON */

.cardb-buy button{
  max-height: 1.5em;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.3);
}

.card-body .card-link:hover{
  color: var(--secondary);
}

.card-body .card-buy:hover{
  color: var(--primary);
}

/************************/
/*     SMALL-BANNER     */
/************************/

.small-banner{
  background-color: #fff;
  color: var(--primary);
  border-radius: 13px;
}

.smallb-image{
  border-radius: 13px 0 0 13px;
  box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.3);
}

.smallb-text{
  margin-top: 1.5em;
  display: flex;
  justify-content: center;
}

.smallb-text .col{
  margin-left: 1.5em;
  margin-bottom: 0;
}

.smallb-text .smallb-text_title{
  margin-bottom: 0.8em;
}

.smallb-text h1{
  margin-left: 0.5em;
  margin-bottom: 0;
}

.smallb-text h4{
  font-style: italic;
}

.smallb-text p{
  width: 85%;
  margin-top: 2em;
  margin-left: 1.5em;
}

.smb-logo{
  display: flex;
  justify-content: center;
}

.smallb-logo{
  width: 50%;
}


/************************/
/*       KESKE C ?      */
/************************/


#contour{
  /* Rectangle 1 */
  position: absolute;
  width: 510px;
  height: 588px;
  left: 869px;
  top: 223px;
  background: rgba(255, 255, 255, 0.88);
  border: 5px;
  border-color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;

}

#Connexion{
  /* Connexion */
  /* position: absolute; */
  width: 254px;
  height: 88px;
  left: 870px;
  top: 223px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  /* background-color: blue; */
}

#Create_account{
  /* Créer un compte */
  /* position: absolute; */
  width: 254px;
  height: 88px;
  left: 1124px;
  top: 223px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

#card-body{
  width: 471px;
  height: 351px;
  left: 888px;
  top: 328px;
  
}

#mail{
  /* Email */
  /* position: absolute; */
  width: 97.81px;
  height: 34.88px;
  left: 866.63px;
  top: 343.81px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #000000;
}
.email_input{
  /* Rectangle 2 */
  /* position: absolute; */
  width: 415px;
  height: 66px;
  left: 917px;
  top: 411px;
  
  background: #D9D9D9;
  border-radius: 17px;
}

#password{
  /* Mot de passe */
  /* position: absolute; */
  width: 255px;
  height: 35.74px;
  left: 868px;
  top: 462.14px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #000000;
}


.psswrd_input{
  /* Rectangle 3 */
  /* position: absolute; */
  width: 415px;
  height: 66px;
  left: 916px;
  top: 540px;
  
  background: #D9D9D9;
  border-radius: 17px;
}

#button_connexion{
  /* Connexion */
  position: absolute;
  width: 415px;
  height: 66px;
  left: 917px;
  top: 696px;

} 

.text_jumbotron{
  /* Texte body jumbotron */
  position: absolute;
  width: 624px;
  height: 200px;
  left: 72px;
  top: 286px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;

  color: #470707;

  /* border: 1px solid #000000; */
}