.title-product{
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.card-products{
  display: flex;
  align-content: space-around;
}
.card h4{
  color: var(--secondary);
}

.card p{
  color: var(--primary);
}

.card-img{
  border-radius: 5px;
  box-shadow: 0px 6px 10px 1px rgba(0,0,0,0.29);
}

.col{
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}







#contour{
  /* Rectangle 1 */
  position: absolute;
  width: 510px;
  height: 588px;
  left: 869px;
  top: 223px;
  background: rgba(255, 255, 255, 0.88);
  border: 5px;
  border-color: #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;

}

#Connexion{
  /* Connexion */
  /* position: absolute; */
  width: 254px;
  height: 88px;
  left: 870px;
  top: 223px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  /* background-color: blue; */
}

#Create_account{
  /* Créer un compte */
  /* position: absolute; */
  width: 254px;
  height: 88px;
  left: 1124px;
  top: 223px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

#card-body{
  width: 471px;
  height: 351px;
  left: 888px;
  top: 328px;
  
}

#mail{
  /* Email */
  /* position: absolute; */
  width: 97.81px;
  height: 34.88px;
  left: 866.63px;
  top: 343.81px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #000000;
}
.email_input{
  /* Rectangle 2 */
  /* position: absolute; */
  width: 415px;
  height: 66px;
  left: 917px;
  top: 411px;
  
  background: #D9D9D9;
  border-radius: 17px;
}

#password{
  /* Mot de passe */
  /* position: absolute; */
  width: 255px;
  height: 35.74px;
  left: 868px;
  top: 462.14px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #000000;
}


.psswrd_input{
  /* Rectangle 3 */
  /* position: absolute; */
  width: 415px;
  height: 66px;
  left: 916px;
  top: 540px;
  
  background: #D9D9D9;
  border-radius: 17px;
}

#button_connexion{
  /* Connexion */
  position: absolute;
  width: 415px;
  height: 66px;
  left: 917px;
  top: 696px;

} 

.text_jumbotron{
  /* Texte body jumbotron */
  position: absolute;
  width: 624px;
  height: 200px;
  left: 72px;
  top: 286px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;

  color: #470707;

  /* border: 1px solid #000000; */
}