.product_main{
	display: flex;
	flex-flow: wrap;
}

.product_link:active{
	color: #fff;
}

.product_link:active{
	color: #fff;
}

.product_link:hover{
	color: #fff;
}

.new_product{
	color: var(--secondary);
}

.new_product:hover{
	color: var(--light);
}

.edit_product{
	color: #fff;
}

.edit_product:hover{
	color: #fff;
}

.product_page{
	background-color: #fff;
}

.product_page h2,h4,h5{
	color: var(--primary);
}

.product_page h3{
	color: var(--secondary);
}

.product_detail{
	display: flex;
	align-items: center;
  margin-bottom: 0px;
  width: max-content;
}

.product_description{
	border-radius: 10px;
	height: 200px;
	display: flex;
	align-items: center;
	background-color: #fff;
}

.product_description h3,p{
	color: var(--primary);
}

.product_detail .button {
	margin: 50px;
	text-align: center;

}

.img-fluid{
	display: flex;
	flex-wrap: wrap;
}

.product_text{
	text-align: left;
	margin: 5px;
}

.quote span{
    color:black;
}

/* Truffe detail */

.truffle-detail{
  width: 3%;
  height: 3%;
}

.text{
  padding: 2%;
}
.title-text{
  padding-left: 1% ;
}