@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap");

:root{
  --bg-primary: #0D0D0D;
  --bg-secondary: #D9BA5F;
  --bg-dark: #333333;
  --bg-medium-light: #595959;
  --bg-light: #999999;
  --bg-warning: #F2B138;
  --bg-danger: #D6511F;
  --bg-success: #44A637;
  --bg-info: #1CD2D9;
  --primary: #0D0D0D;
  --secondary: #D9BA5F;
  --dark: #333333;
  --medium-light: #595959;
  --light: #999999;
  --warning: #F2B138;
  --danger: #D6511F;
  --success: #44A637;
  --info: #1CD2D9;
  --font-sans-serif: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --body-font-family: var(--bs-font-sans-serif);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #595959;
}


/************************/
/*      FONTS        */
/************************/
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #0D0D0D,
}

h1{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: bold;
  font-size: 3em;
}

h2{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic, bold;
  font-size: 2.55em;
}

h3{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45px;
}

h4{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40;
}

h5{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

h6{
  font-family: Arial, Helvetica, sans-serif;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

lead{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.125em;
}

blockquote{
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 0.875em;
}
