@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root{
  --bg-primary: #0D0D0D;
  --bg-secondary: #D9BA5F;
  --bg-dark: #333333;
  --bg-medium-light: #595959;
  --bg-light: #dedede;
  --primary: #0D0D0D;
  --secondary: #D9BA5F;
  --dark: #333333;
  --medium-light: #595959;
  --light: #dedede;
  --warning: #F2B138;
  --danger: #D6511F;
  --success: #44A637;
  --info: #1CD2D9;
  --body-font-family: 'Montserrat', sans-serif;
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-color: #0D0D0D;
  --body-bg: #fff;
  --link-color: #1a1a1a;
  --link-hover-color: #151515;
}

.container {  display: grid;
  grid-template-columns: 0.4fr 1.3fr 1.6fr 1.3fr 0.4fr;
  grid-template-rows: 0.4fr 2.1fr 0.6fr 2.1fr 0.5fr 1.3fr 1fr;
  gap: 15px 15px;
  grid-auto-flow: row;
  grid-template-areas:
    "header header header header header"
    "banner banner banner banner banner"
    ". . product-title . ."
    ". product-card-1 product-card-2 product-card-3 ."
    ". . story-tittle . ."
    ". story-banner story-banner story-banner ."
    ". footer footer footer .";
}

/************************/
/*        HEADER        */
/************************/

.header {
  display: grid; 
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1.5fr 0.5fr 0.5fr 0.5fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "logo accueil produits recettes panier connexion . icone_rechercher icone_panier icone_profil"; 
  grid-area: header; 
  background-color: #fff;
  align-items: center;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.39);
}

.logo {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    ". . ."
    ". . ."; 
  grid-area: logo; 
  margin-left: 15px;
}
.accueil { grid-area: accueil; }
.produits { grid-area: produits; }
.recettes { grid-area: recettes; }
.panier { grid-area: panier; }
.connexion { grid-area: connexion; }

.icone_rechercher { 
  grid-area: icone_rechercher; 
}

.icone_panier { 
  grid-area: icone_panier; 
  font-size: 21px;
}

.icone_profil { 
  grid-area: icone_profil;
  margin-right: 15px;
  font-size: 25px;
}

.icone_panier, .icone_profil{
  width: 40px;
  height: 40px;
  background-color: #dedede;
  border-radius: 50%;
  display: grid;
  text-align:center;
  align-content: center;
}


/************************/
/*        BANNER        */
/************************/

.banner {  
  display: grid;
  grid-template-columns: 0.2fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
  grid-template-rows: 2fr 1.5fr 1.5fr 0.5fr 2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . ."
    ". banner_title banner_title banner_title banner_title ."
    ". banner_text banner_text banner_text . ."
    ". btn-produits btn-propos . . ."
    ". . . . . .";
  grid-area: banner;
  background-repeat: no-repeat;
  background-size: 100%;
}

.banner_title {
  grid-area: banner_title; 
  font-size: 80px;
}

.banner_text {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    "text_area text_area text_area"
    ". . .";
  grid-area: banner_text;
}

.text_area { grid-area: text_area; }

.btn-produits { grid-area: btn-produits; }

.btn-propos { grid-area: btn-propos; }



/************************/
/*        FOOTER        */
/************************/

.footer {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "footer_head footer_head footer_head"
    "footer_body footer_body footer_body"
    "footer_end footer_end footer_end";
  grid-area: footer;
  margin: 5em;
  background-color: rgba(78, 49, 49, 0.847);
  border-radius: 25px;
  box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.33);
  position: relative;
  bottom: 0px;
  margin-bottom: 0px;

}

.footer_head {  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . footer_acceuil footer_produits footer_recettes footer_panier footer_contact . .";
  grid-area: footer_head;
  align-items: center;
  align-self: center;

}

.footer_recettes { grid-area: footer_recettes; }

.footer_acceuil { grid-area: footer_acceuil; }

.footer_produits { grid-area: footer_produits; }

.footer_panier { grid-area: footer_panier; }

.footer_contact { grid-area: footer_contact; }

.footer_body {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "fbody_description fbody_links";
  grid-area: footer_body;
}

.fbody_description {  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". fdescription_title ."
    ". description_text ."
    ". . .";
  grid-area: fbody_description;
}

.fdescription_title {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    "dtitle dtitle dtitle"
    "dtitle dtitle dtitle"; 
  grid-area: fdescription_title; 
}
.dtitle { grid-area: dtitle; }

.description_text { grid-area: description_text; }

.fbody_links {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . ."
    "links_truffe links_pages links_support ."
    "links_truffe links_pages links_support ."
    "links_truffe links_pages links_support ."
    ". . . .";
  grid-area: fbody_links;
}

.links_truffe {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "ltruffe_title"
    "ltruffe_title"
    "ltruffe_1"
    "ltruffe_2";
  grid-area: links_truffe;
}

.ltruffe_title { grid-area: ltruffe_title; }

.ltruffe_1 { grid-area: ltruffe_1; }

.ltruffe_2 { grid-area: ltruffe_2; }

.links_pages {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "lpage_title"
    "lpage_title"
    "lpage_1"
    "lpage_2";
  grid-area: links_pages;
}

.lpage_title { grid-area: lpage_title; }

.lpage_1 { grid-area: lpage_1; }

.lpage_2 { grid-area: lpage_2; }

.links_support {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "lsupport_title"
    "lsupport_title"
    "lsupport_1"
    "lsupport_2";
  grid-area: links_support;
}

.lsupport_title { grid-area: lsupport_title; }

.lsupport_1 { grid-area: lsupport_1; }

.lsupport_2 { grid-area: lsupport_2; }

.footer_end {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "fcredit . fsocial_media";
  grid-area: footer_end;
  background-color: #0D0D0D;
  color: #dedede;
  margin-top: auto;
  bottom: 0px;
  margin-bottom: 0px;
}

.fcredit {  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". credits ."
    ". . .";
  grid-area: fcredit;
}

.credits { 
  grid-area: credits;
  font-size: 14px;
}

.fa-circle-c{
  color:#fff;
}

.fsocial_media {  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . ."
    ". s_media ."
    ". . .";
  grid-area: fsocial_media;
  justify-content: center;
  align-items: center;
}

.s_media {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". instagram .";
  grid-area: s_media;
}

.instagram {
  grid-area: instagram; 
}

.fa-instagram{
  font-size: 25px;
}



/************************/
/*         TEXT         */
/************************/

body{
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  text-align: justify;
  background-color: var(--body-bg);
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: 0.25;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: #0D0D0D,
}

h1{
  font-style: bold;
  font-size: 2rem;
}

h2{
  font-style: italic, bold;
  font-size: 1.75rem;
}

h3{
  font-size: 1.5rem;
}

h4{
  font-size: 1.25rem;
}

h5{
  font-size: 1rem;
}

h6{
  font-size: 0.75rem;
}

p{
  margin-top: 0;
  margin-bottom: 1rem;
}

lead{
  font-size: 1.125em;
}

blockquote{
  font-style: italic;
  font-size: 0.875em;
  margin: 0 0 1rem;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
  padding-left: 2rem;
}



















